.container{
display:flex;
gap:20px;
justify-content:center;
}

a:hover{
color:red;
}

input:focus{
background:lightyellow;
}

button:active{
background:green;
color:white;
}

li:nth-child(even){
background:lightblue;
}