.container{
display:flex;
justify-content:center;
gap:20px;
}

button{
padding:15px 25px;
border:none;
background:royalblue;
color:white;
border-radius:8px;
transition:0.3s ease;
}

button:hover{
background:tomato;
transform:scale(1.1);
box-shadow:0 0 10px gray;
}

button:active{
transform:scale(0.95);
}